<%- include("layout/header.ejs") %>
    <link rel="stylesheet" href="../css/main.module.css" />
  </head>
  <body>
    <%- include("layout/nav.ejs") %>
    <main>
      <h1>Page not found</h1>
    </main>
<%- include("layout/end.ejs") %>
