<!DOCTYPE html>
  html
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title #{pageTitle}
      link(rel="stylesheet", href="../css/main.module.css")
      block styles 
    body
      header
        nav.nav
          ul.tabs
            li
              a.tab(href="/" class=(path==="/" ? "active" : "")) Shop
            li  
              a.tab(href="/admin/add-product" class=(path==="/admin/add-product" ? "active" : "")) Add Product

      block content