<%- include("../layout/header.ejs") %>
<link rel="stylesheet" href="css/product&products_container.module.css">
  </head>
  <body>
    <%- include("../layout/nav.ejs") %>
    <main>
      <h1>Nothing here</h1>
    </main>
<%- include("../layout/end.ejs") %>